<!DOCTYPE html>
<html>
    <head>
        <title>CS602_Rykal</title>
    </head>
    <body>
        <header>
	<img src="/images/bu-logo.gif" alt="logo">
</header>
        <h2>CS602HW2 - Yaroslav Rykal</h2>
            <a href="/addEmployee">Add Emplyoee</a>
            <hr />    

            {{{body}}}

    </body>
</html>