<html>
<body>
	<h3>Post Submission</h3>
	<form method="post" action="/addEmployee">
    <table>
      <tbody>
       <tr>
        <th width="200">First Name: </th>
        <td><input type="text" name="firstName" value="" required 
              placeholder="Enter first name"></td>
       </tr>
       <tr>
         <th>Last Name: </th>
         <td><input type="text" name="lastName" value="" required 
              placeholder="Enter last name"></td>
       </tr>      
      </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Submit">
      		</td>     
        </tr>
      </tfooter>
    </table>
  </form>
</body>
</html>